.navbar{
  background-color: #FDFEFF;
}

/* Logo */
.navbar-brand{
  margin-left: 1.5%;
  color: #000F19;
}

/* Search Bar */
.form-inline{
  margin: auto;
  width:55%;
}
.input-group{
  width: 100%;
}
