<div class="list">
  <div class="list__item">
    <img src="https://m.media-amazon.com/images/M/MV5BMDg2YzI0ODctYjliMy00NTU0LTkxODYtYTNkNjQwMzVmOTcxXkEyXkFqcGdeQXVyNjg2NjQwMDQ@._V1_SX300.jpg">
    <div class="content">
      <h3>John Wick 3</h3>
      <p>Super-Assassin John Wick is on the run after killing a member of
          the international assassin's guild, and with a $14 million price tag
          on his head - he is the target of hit men and women everywhere.</p>
    </div>
  </div>
</div>
