<div class="container">
    <div class="heading">Coming Soon</div><hr>
  </div>
  <div class="list">
    <div class="list__item">
      <img src="https://m.media-amazon.com/images/M/MV5BMDg2YzI0ODctYjliMy00NTU0LTkxODYtYTNkNjQwMzVmOTcxXkEyXkFqcGdeQXVyNjg2NjQwMDQ@._V1_SX300.jpg">
      <div class="content">
        <h3>John Wick 3</h3>
      </div>
    </div>
    <div class="list__item">
      <img src="https://m.media-amazon.com/images/M/MV5BMDhiNzUzYTItMWFjYS00ZDUwLWIxNTItMTlmMzAxZjNmMTJkXkEyXkFqcGdeQXVyNjg3MDMxNzU@._V1_SX300.jpg">
      <div class="content">
        <h3>The Sun Is Also a Star</h3>
      </div>
    </div>
    <div class="list__item">
      <img src="https://m.media-amazon.com/images/M/MV5BMjQ2ODIyMjY4MF5BMl5BanBnXkFtZTgwNzY4ODI2NzM@._V1_SX300.jpg">
      <div class="content">
        <h3>Aladdin</h3>
      </div>
    </div>
    <div class="list__item">
        <img src="https://m.media-amazon.com/images/M/MV5BNTljMzM4Y2UtZGVhMi00MTZjLWFlNDgtZjE3OGZkZTdjZTJjXkEyXkFqcGdeQXVyODg5ODM0Mjk@._V1_SX300.jpg">
        <div class="content">
          <h3>The Third Wife</h3>
        </div>
    </div>
  </div>
