<div class="box">
  <div class="l-hero">
    <div class="l-hero__text">
      <h1 class="c-title">
        <span class="c-title__category"><strong>My</strong> Movies</span>
        <span class="c-title__name">John Wick 3</span>
      </h1>
      <div class="tags">
        <br><span class="fantasy">Action</span><span class="fantasy">Drama</span><span class="fantasy">Adventure</span>
        <br><br>
      </div>
      <p>Super-Assassin John Wick is on the run after killing a member of
          the international assassin's guild, and with a $14 million price tag
          on his head - he is the target of hit men and women everywhere.</p>

      <div class="l-hero__buttons">
        <div class="o-button">Play</div>
      </div>
    </div>
  </div>
</div>

<div class="list">
    <div class="list__item">
      <img src="https://m.media-amazon.com/images/M/MV5BMDg2YzI0ODctYjliMy00NTU0LTkxODYtYTNkNjQwMzVmOTcxXkEyXkFqcGdeQXVyNjg2NjQwMDQ@._V1_SX300.jpg">
    </div>
  </div>

