<div class="container">
    <div class="heading">Top Rated Movies</div><hr>
  </div>
  <div class="list">
    <div class="list__item">
      <img src="https://m.media-amazon.com/images/M/MV5BMDFkYTc0MGEtZmNhMC00ZDIzLWFmNTEtODM1ZmRlYWMwMWFmXkEyXkFqcGdeQXVyMTMxODk2OTU@._V1_SX300.jpg">
      <div class="content">
        <h3>The Shawshank Redemption</h3>
      </div>
    </div>
    <div class="list__item">
      <img src="https://m.media-amazon.com/images/M/MV5BM2MyNjYxNmUtYTAwNi00MTYxLWJmNWYtYzZlODY3ZTk3OTFlXkEyXkFqcGdeQXVyNzkwMjQ5NzM@._V1_SX300.jpg">
      <div class="content">
        <h3>The Godfather</h3>
      </div>
    </div>
    <div class="list__item">
      <img src="https://m.media-amazon.com/images/M/MV5BMWMwMGQzZTItY2JlNC00OWZiLWIyMDctNDk2ZDQ2YjRjMWQ0XkEyXkFqcGdeQXVyNzkwMjQ5NzM@._V1_SX300.jpg">
      <div class="content">
        <h3>The Godfather: Part II</h3>
      </div>
    </div>
    <div class="list__item">
        <img src="https://m.media-amazon.com/images/M/MV5BMTMxNTMwODM0NF5BMl5BanBnXkFtZTcwODAyMTk2Mw@@._V1_SX300.jpg">
        <div class="content">
          <h3>The Dark Knight</h3>
        </div>
    </div>
  </div>
