<div class="container">
  <div class="heading">In Theaters</div><hr>
</div>
<div class="list">
  <div class="list__item">
    <img src="https://m.media-amazon.com/images/M/MV5BNDU4Mzc3NzE5NV5BMl5BanBnXkFtZTgwMzE1NzI1NzM@._V1_SX300.jpg">
    <div class="content">
      <h3>Pokémon Detective Pikachu</h3>
    </div>
  </div>
  <div class="list__item">
    <img src="https://m.media-amazon.com/images/M/MV5BMTc5MDE2ODcwNV5BMl5BanBnXkFtZTgwMzI2NzQ2NzM@._V1_SX300.jpg">
    <div class="content">
      <h3>Avengers: Endgame</h3>
    </div>
  </div>
  <div class="list__item">
    <img src="https://m.media-amazon.com/images/M/MV5BZTliNWJhM2YtNDc1MC00YTk1LWE2MGYtZmE4M2Y5ODdlNzQzXkEyXkFqcGdeQXVyMzY0MTE3NzU@._V1_SX300.jpg">
    <div class="content">
      <h3>Us</h3>
    </div>
  </div>
  <div class="list__item">
      <img src="https://m.media-amazon.com/images/M/MV5BMTU3NzYxODgwNV5BMl5BanBnXkFtZTgwNjc5NjI5NjM@._V1_SX300.jpg">
      <div class="content">
        <h3>Sonic the Hedgehog</h3>
      </div>
  </div>
</div>
